In [3]:
import vaex

df = vaex.open('citibike_trips.hdf5')

df

#           tripduration    starttime                      stoptime                       start_station_id    start_station_name           start_station_latitude    start_station_longitude    end_station_id    end_station_name                   end_station_latitude    end_station_longitude    bikeid    usertype    birth_year    gender    customer_plan
0           371             2016-08-29 14:45:02.000000000  2016-08-29 14:51:14.000000000  516                 E 47 St & 1 Ave              40.75206862               -73.96784384               519               Pershing Square North              40.751872999999996      -73.97770600000001       19100     Subscriber  1947          male      nan
1           1330            2016-02-07 16:02:42.000000000  2016-02-07 16:24:52.000000000  153                 E 40 St & 5 Ave              40.752062306999996        -73.9816324043             405               Washington St & Gansevoort St      40.739323               -74.008119               19039     Subscriber  1950          male      nan
2           830             2017-12-21 12:24:04.000000000  2017-12-21 12:37:55.000000000  3168                Central Park West & W 85 St  40.78472675               -73.96961715               281               Grand Army Plaza & Central Park S  40.764397100000004      -73.97371465             17434     Subscriber  1947          male      nan
3           555             2017-05-30 11:04:11.000000000  2017-05-30 11:13:26.000000000  3260                Mercer St & Bleecker St      40.727063633483056        -73.99662137031554         358               Christopher St & Greenwich St      40.73291553             -74.00711384             28401     Subscriber  1996          male      nan
4           328             2016-09-26 12:53:07.000000000  2016-09-26 12:58:35.000000000  317                 E 6 St & Avenue B            40.72453734               -73.98185424               3263              Cooper Square & E 7 St             40.72923649910006       -73.9908680319786        22740     Subscriber  1951          male      nan
...         ...             ...                            ...                            ...                 ...                          ...                       ...                        ...               ...                                ...                     ...                      ...       ...         ...           ...       ...
58,937,710  1179            2013-09-25 16:25:51.000000000  2013-09-25 16:45:30.000000000  523                 W 38 St & 8 Ave              40.75466591               -73.99138152               284               Greenwich Ave & 8 Ave              40.7390169121           -74.0026376103           20175     Subscriber  1978          female    nan
58,937,711  414             2014-05-29 12:23:19.000000000  2014-05-29 12:30:13.000000000  523                 W 38 St & 8 Ave              40.75466591               -73.99138152               486               Broadway & W 29 St                 40.7462009              -73.98855723             15154     Subscriber  1978          male      nan
58,937,712  402             2016-03-24 15:57:03.000000000  2016-03-24 16:03:46.000000000  523                 W 38 St & 8 Ave              40.75466591               -73.99138152               167               E 39 St & 3 Ave                    40.7489006              -73.97604882             17254     Subscriber  1978          male      nan
58,937,713  812             2017-09-11 14:36:20.000000000  2017-09-11 14:49:53.000000000  523                 W 38 St & 8 Ave              40.75466591               -73.99138152               3224              W 13 St & Hudson St                40.73997354103409       -74.00513872504234       14715     Subscriber  1978          male      nan
58,937,714  1674            2015-10-15 16:55:43.000000000  2015-10-15 17:23:38.000000000  523                 W 38 St & 8 Ave              40.75466591               -73.99138152               2008              Little West St & 1 Pl              40.70569254             -74.01677685             24035     Subscriber  1978          male      nan

In [6]:
df.dtypes

tripduration                        int32
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start_station_id                    int16
start_station_name          <class 'str'>
start_station_latitude            float64
start_station_longitude           float64
end_station_id                      int16
end_station_name            <class 'str'>
end_station_latitude              float64
end_station_longitude             float64
bikeid                              int32
usertype                    <class 'str'>
birth_year                          int16
gender                      <class 'str'>
customer_plan                     float64
dtype: object

In [10]:
df['trip_duration'] = df['stoptime'] - df['starttime']

In [11]:
df['trip_duration']

Expression = trip_duration
Length: 58,937,715 dtype: timedelta64[ns] (column)
--------------------------------------------------
       0  0 days +0:06:12
       1  0 days +0:22:10
       2  0 days +0:13:51
       3  0 days +0:09:15
       4  0 days +0:05:28
           ...
58937710  0 days +0:19:39
58937711  0 days +0:06:54
58937712  0 days +0:06:43
58937713  0 days +0:13:33
58937714  0 days +0:27:55

In [12]:
import numpy as np

delta_latitude = df['end_station_latitude'] - df['start_station_latitude']
delta_longitude = df['end_station_longitude'] - df['start_station_longitude']
df['naive_distance'] = np.sqrt(delta_latitude**2 + delta_longitude**2)

In [13]:
df['naive_distance']

Expression = naive_distance
Length: 58,937,715 dtype: float64 (column)
------------------------------------------
       0   0.0098641
       1    0.029391
       2   0.0207385
       3    0.012014
       4   0.0101652
        ...
58937710   0.0192767
58937711  0.00892373
58937712   0.0163808
58937713   0.0201278
58937714   0.0551662

In [28]:
df['trip_duration_seconds'] = df['trip_duration'] / np.timedelta64(1, 's')

In [36]:
df['trip_duration_seconds']

Expression = trip_duration_seconds
Length: 58,937,715 dtype: float64 (column)
------------------------------------------
       0   372
       1  1330
       2   831
       3   555
       4   328
     ...
58937710  1179
58937711   414
58937712   403
58937713   813
58937714  1675

In [34]:
short_trips_df = df[df.trip_duration_seconds < 15*60]

In [37]:
df.select(df.trip_duration_seconds < 15*60)

In [35]:
short_trips_df.mean(short_trips_df.trip_duration_seconds)

<string>:1: RuntimeWarning: invalid value encountered in less

array(477.87387026)

In [38]:
df.mean(df.trip_duration_seconds, selection=True)

array(477.87387026)

In [40]:
df['age'] = 2020 - df['birth_year']

In [42]:
trip_counts = df.count(binby=df.age, limits=[0, 70], shape=7)

trip_durations = df.mean(df.trip_duration_seconds, binby=df.age, limits=[0, 70], shape=7)

In [45]:
trip_counts_by_start_station = df.groupby(by='start_station_name', agg={'N': vaex.agg.count('tripduration')})

In [46]:
type(trip_counts_by_start_station)

vaex.dataframe.DataFrameArrays

In [47]:
df1 = df.head(100)

In [48]:
df2 = df.head(50)

In [68]:
joined_df = df1.join(df1, on='start_station_name', how='inner', rsuffix='_r', allow_duplication=True)

In [63]:
dfv = df[:10000000]
dfp = df[:10000000].to_pandas_df()

In [64]:
from time import time

starttime = time()
dfv.start_station_name.str.contains(r'(?i)central\s*park').values
print('Vaex time: ', time() - starttime)

Vaex time:  0.47106385231018066

In [65]:
starttime = time()
dfp.start_station_name.str.contains(r'(?i)central\s*park').values
print('Pandas time: ', time() - starttime)

Pandas time:  6.93208909034729

In [66]:
6.93/0.47

14.74468085106383